## This is just an example for whoever will evaluate my work, keep in mind these are placeholders just so you know how the structure will look
DB_HOST=yousthosthere
DB_DATABASE=yourdbnamehere
DB_USERNAME=yourdbusernamehere
DB_PASSWORD=yourpasswordhere
